/*========== GLOBAL ==========*/
.container {
	background-color: #eee;
	min-height: 600px;
}

/*========== INDEX ==========*/
#header {
	height: 389px;
	background: url(../images/header.jpg) no-repeat center center;
    background-size: 100%;
    background-position: top;
}
.navbar {
	background-color: #FBB040;
	height: 65px;
	border-radius: 0;
	margin-bottom: 0;
}
.extra {
	padding: 1.49878%;
	background-color: #FBB040; 
}
.extra ul li{
	display: inline-block;
	color: #333;
}
.nav li{
	display: inline-block;
	float: right;
	margin-right: 2px;
	padding: 5px;
	color: #fff;
	border: 1px solid #eee;
	background-color: #FBB040;
	border-top: none;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
img {
	position: relative;
	left: 2%;
	max-width: 17.12328767%;
	min-width: 150px;
	margin: auto;
}
.tagline {
	height: 200px;
	margin-top: 5%;
	color: #21A4CE;
	font-family: 'Lobster', cursive;
	text-align: center;
}

.search {
	margin-bottom: 3.5%;
}
.animals {
	height: 100px;
	text-align: center;
	margin: 1% .5% 0 .5%;
	background-color: #888;
	border-radius: 4px;
}
.animals:hover {
	cursor: pointer;
}
.animals p {
	line-height: 100px;
	vertical-align: middle;
	font-family: 'Lobster', cursive;
}
footer {
	position: relative;
	bottom: 0;
	background-color: #FBB040;
	height: 65px;
	margin-top: 5%;
}
img.footer_logo {
	display: block;
	margin: auto;
}
.label {
	width: 100%;
	background-color: rgba(0, 0, 0, .8);
	font-size: 1.5em;
}
.dogs{
	background-image: url(../images/dogs.jpg);
	background-size: 100% 100%;
}
.cats {
	background-image: url(../images/cats.jpg);
	background-size: 100% 100%;
}
.birds {
	background-image: url(../images/birds.jpg);
	background-size: 100% 100%;
}
.ham {
	background-image: url(../images/ham.jpg);
	background-size: 100% 100%;
}
.liz {
	background-image: url(../images/liz.jpg);
	background-size: 100% 100%;
}
.turtles {
	background-image: url(../images/turtles.jpg);
	background-size: 100% 100%;
}
.snakes {
	background-image: url(../images/snakes.jpg);
	background-size: 100% 100%;
}
.other {
	background-image: url(../images/other.jpg);
	background-size: 100% auto;
}
/*========== RESULTS ==========*/
.img_slider {
	height: 441px;
	background-image: url(../images/banner.jpg);
	background-size: 100%;
}
.filter {
	margin-top: 2%;
	border-radius: 5px;
	height: 500px;
	background-color: #ddd;
	padding: 5px 15px 5px 15px;
}
#filter_btn {
	margin-top: 10%;
}
button #filter_btn {
	background-color: #FBB040;
}
ul {
	list-style: none;
	padding: 0;
}

.breadcrumb {
	position: relative;
	top: 0;
	z-index: 999;
}
.pet {
	margin-top: 5%;
	margin-left: 10%;
	border-radius: 5px;
	width: 200px;
	background-color: rgba(71, 221, 86, .6);
}
/*.pet:hover {
	cursor: pointer;
}*/
.profile_pic {
	border-radius: 5px;
	height: 140px;
	position: relative;
	left: 12%;
	top: 5px;
}
.profile_pic img {
	width: 75.67567568%;
}
.pet_name {
	font-size: 250%;
	padding-top: 8px;
	border-bottom: 1px dashed #eee;
	text-decoration: none;
}
.desc {
	font-size: 1.1em;
	text-align: center;
	border-bottom: 1px dashed #eee;
	line-height: 20px;
}
.desc.last {
	border-bottom: none;
	padding-bottom: 4%;
}
button.more {
	position: relative;
	left: 15%;
}
button a {
	color: #fff;
	position: relative;
}
button a:hover {
	color: #eee;
	text-decoration: none;
}
.col-lg-4.col-md-4.col-sm-4.col-xs-12 {
	padding: 2.5px;
}

/*========== BIO ==========*/
.img_slider_nigel {
	height: 382px;
	background-image: url(../images/nig_banner.jpg);
	background-size: 100%;
}
.info {
	margin-top: 10px;
	height: 275px;
	background-color: rgba(71, 221, 86, .8);
}
.text1 {
	height: 130px;
	margin-right: 0;
}
.col-lg-6 {
	margin-right: 0;
}
.text2 {
	height: 130px;
	margin-left: 0;
}
.list1 {
	text-align: right;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.2em;
	color: white;
}
.list1 {
	text-align: right;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.2em;
	color: white;
}
.list2 {
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.2em;
	color: white;
}
.ad {
	margin-top: 10px;
	height: 275px;
	background: url(../images/ad.jpg) no-repeat center center;
	background-size: 100%;
}
.ad p {
	font-size: 1.1em;
	color: black;
	margin-top: .4em;
	text-align: center;
}
.story {
	margin-top: .5%;
	margin-left: 5px;
	height: 555px;
	background-color: rgba(71, 221, 86, .8);
}
h3 {
	margin-top: 0;
	text-align: center;
	color: #fff;
	font-family: 'Lobster', cursive;
	font-size: 2.6em;
	text-decoration: underline;
}
p {
	text-indent: 20px;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	margin: 15px;
}
.loc p {
	font-size: 1.2em;
	text-align: center;
}

/*========== Adopt ==========*/
.contact {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    background: rgba(77, 221, 85, .8);
    border-radius: 15px;
    padding: 20px 30px 20px 30px;
    font: 12px 'Lato', sans-serif;
    color: rgba(251, 176, 64, .7);
    text-shadow: 1px 1px 1px #FFF;
}
h1 {
    font-family: 'Lobster', cursive;
    padding: 0px 0px 10px 40px;
	text-align: center;
    color: rgba(33, 164, 206, .8);
}
.contact h1>span {
    display: block;
    font-size: 11px;
}
.contact label {
    display: block;
    margin: 0px 0px 5px;
}
.contact label>span {
	font-family: 'Quicksand', sans-serif;
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: rgba(33, 164, 206, .8);
}
.contact input[type="text"], .contact input[type="email"], .contact input[type="password"], .contact textarea,.contact select{
    border: 1px solid #DADADA;
    color: rgba(251, 176, 64, .7);
    height: 24px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font: normal 12px/12px 'Lato', sans-serif;
}
.contact select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right;
    text-indent: 0.01px;
    text-overflow: '';
    width: 72%;
    height: 30px;
}

.contact textarea{
    height:50px;
}

.contact .button {
    padding: 10px 25px 10px 25px;
}

input[type="text"], textarea, select {
	border: 1px solid #ddd;
	background-color: #fff;
	font-size: 1em;
	-webkit-transition: background-color .4s ease;
	-moz-transition: background-color .4s ease;
	-o-transition: background-color .4s ease;
	-transition: background-color .4s ease;
}

input:focus, textarea:focus, select:focus {
	border: 2px solid rgb(0, 204, 255);
	background-color: rgba(238, 238, 238, 1);
	color: #545d70;
}

input:hover, textarea:hover, select:hover {
	border: 2px solid rgb(0,204,255);
	background-color: rgba(238, 238, 238, .6);
}

.button {
	background-color: rgba(231, 231, 231, .9);
	color: rgba(0, 0, 15, .4);
	border:1px solid #ddd;
	-webkit-transition: background-color .4s ease;
	-moz-transition: background-color .4s ease;
	-o-transition: background-color .4s ease;
	-transition: background-color .4s ease;
}

.button:hover {
	border: 2px solid rgba(251, 176, 64, .7);
	background-color: rgba(251, 176, 64, .7);
	color: #fff;
}
/*========== ABOUT ==========*/

.about {
	margin-top: 20px;
	text-align: left;
	float: left;
}
.about_pps {
	font-size: 1.1em;
	color: #888;
}
.about_img {
	float: right;
}
aside {
	-webkit-box-shadow: -3px 8px 23px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: -3px 8px 23px -4px rgba(0,0,0,0.75);
	box-shadow: -3px 8px 23px -4px rgba(0,0,0,0.75);
	background-color: rgba(130, 130, 130, .3);
	border-radius: 5px;
}
.side_header {
	padding: 10px;
	text-decoration: none;
	font-size: 175%;
	color: rgba(33, 164, 206, .8);
}
.side_about {
	border-top: 1px dashed #fff;
	font-size: 1.1em;
	padding: 10px;
	color: #fff;
	line-height: 30px;
}

/*========== SIGN IN ==========*/
.si {
	margin: 10px;
	float: left;
}
.reg {
	margin: 10px;
	float: right;
}


